<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="wheel">



    <link name="link_left_forward">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.053624" />
        <inertia ixx="5.7347E-06" ixy="3.7019E-15" ixz="4.285E-18" iyy="5.734E-06" iyz="-6.0498E-19" izz="6.5431E-06" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mecanum_description/meshes/link_left_forward.STL" />
        </geometry>
        <material name="brightyellow">
          <color rgba="1.0 0.9921568627450981 0.00392156862745098 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mecanum_description/meshes/link_left_forward.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="joint_left_forward" type="fixed">
      <origin xyz="0 0 0.016" rpy="0 0 0" />
      <parent link="link_left_forward1" />
      <child link="link_left_forward" />
      <axis xyz="0 0 1" />
      <dynamics damping="0.1" friction="0.1" />
      <limit effort="1" velocity="1.1"/>
    </joint>


    <link name="link_right_forward">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.053624" />
        <inertia ixx="5.7347E-06" ixy="4.1621E-15" ixz="-4.3954E-18" iyy="5.734E-06" iyz="2.2808E-19" izz="6.5431E-06" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mecanum_description/meshes/link_right_forward.STL" />
        </geometry>
        <material name="brightyellow">
          <color rgba="1.0 0.9921568627450981 0.00392156862745098 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mecanum_description/meshes/link_right_forward.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="joint_right_forward" type="fixed">
      <origin xyz="0 0 -0.016" rpy="0 0 0" />
      <parent link="link_right_forward1" />
      <child link="link_right_forward" />
      <axis xyz="0 0 1" />
      <dynamics damping="0.1" friction="0.1" />
      <limit effort="1" velocity="1.1"/>
    </joint>


    <link name="link_left_back">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.053624" />
        <inertia ixx="5.7347E-06" ixy="3.7079E-15" ixz="-1.2646E-18" iyy="5.734E-06" iyz="1.4228E-18" izz="6.5431E-06" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mecanum_description/meshes/link_left_back.STL" />
        </geometry>
        <material name="brightyellow">
          <color rgba="1.0 0.9921568627450981 0.00392156862745098 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mecanum_description/meshes/link_left_back.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="joint_left_back" type="fixed">
      <origin xyz="0 0 0.016" rpy="0 0 0" />
      <parent link="link_left_back1" />
      <child link="link_left_back" />
      <axis xyz="0 0 1" />
      <dynamics damping="0.1" friction="0.1" />
      <limit effort="1" velocity="1.1"/>
    </joint>


    <link name="link_right_back">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.053624" />
        <inertia ixx="5.7347E-06" ixy="4.1609E-15" ixz="1.6088E-18" iyy="5.734E-06" iyz="-7.2378E-18" izz="6.5431E-06" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mecanum_description/meshes/link_right_back.STL" />
        </geometry>
        <material name="brightyellow">
          <color rgba="1.0 0.9921568627450981 0.00392156862745098 1.0" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mecanum_description/meshes/link_right_back.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="joint_right_back" type="fixed">
      <origin xyz="0 0 -0.016" rpy="0 0 0" />
      <parent link="link_right_back1" />
      <child link="link_right_back" />
      <axis xyz="0 0 1" />
      <dynamics damping="0.1" friction="0.1" />
      <limit effort="1" velocity="1.1"/>
    </joint>




  </xacro:macro>

</robot>